extends ../shared/master.html
block body
    .container
        .row
            .col-lg-12.text-center
                h2.mt-5= model.message
                p(data-server-hello="'This is a hello message from server application'")