<%# { "layout":"../shared/master.html.ejs" } %>
<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <div ng-server-init="hero={name: 'Spawn'}">
                <hero-detail hero="hero"></hero-detail>
            </div>
        </div>
    </div>
</div>