<%# { "layout":"../shared/master.html.ejs" } %>
<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <ul class="example-animate-container">
                <li class="animate-repeat" ng-server-repeat="friend in friends">
                    <span ng-server-class="{'text-danger': friend.age>=40}">
                        {{=friend.name}} is {{=friend.age}} years old.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>