<%# { "layout":"../shared/master.html.ejs" } %>
<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <ul class="example-animate-container">
                <li class="animate-repeat" ng-server-repeat="friend in friends">
                    <span ng-server-switch="friend.age">
                        <span ng-server-switch-when="40">
                            {{=friend.name}} is forty years old.
                        </span>
                        <span ng-server-switch-default>
                            {{=friend.name}} is {{=friend.age}} years old.
                        </span>
                    </span>

                </li>
            </ul>
        </div>
    </div>
</div>