[submodule "modules/@themost/xml"]
	path = modules/@themost/xml
	url = https://github.com/themost-framework/themost-xml.git
[submodule "modules/@themost/common"]
	path = modules/@themost/common
	url = https://github.com/themost-framework/themost-common.git
[submodule "modules/@themost/query"]
	path = modules/@themost/query
	url = https://github.com/themost-framework/themost-query.git
[submodule "modules/@themost/data"]
	path = modules/@themost/data
	url = https://github.com/themost-framework/themost-data.git
