<% layout('../shared/master') %>
<div>
    <div class="container">
        <div class="pt-2">
            <h3>Customers</h3>
            <p>
                Render a partial view for a collection of items
            </p>
        </div>
        <div class="row">
            <form id="searchForm">
              <div class="form-group">
                <label for="inputSearch">Search</label>
                <input type="text" class="form-control" id="inputSearch" placeholder="Search customers...">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="row">
            <%-partial('./customer', model)%>    
        </div>
        <% script('/assets/customer/index.js') %>
    </div>
</div>