<% layout('../shared/master') %>
<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-4">
            <h4>Render a partial view for a collection of items</h4>
            <%- partial('./hello', [  "Peter", "Maria", "Timothy" ]) %>
        </div>
    </div>
</div>